p {font-family: Arial, Helvetica, sans-serif;
    font-size: 100 pts;
    color: rgba(14, 1, 19, 0.623) ;
}
 
#div_mae {
    background-color: lightsalmon;
    font-size: 25px;
}

#div_mae > p {
    color: blue;
    font-size: 10px;
}

#div_mae > p {
    background-color: lightgray; 
    text-align: center;
}

#div_mae + p {
    color: purple;
    font-weight: bold;
}

P ~ #div_filha {
    color: purple;
    font-weight: bold;
  }

li :first-child {
    background-color: greenyellow; 
    font-weight: bold;
}
